/.vs/LGUGui/DesignTimeBuild/.dtbcache.v2
/.vs/LGUGui/v17/.futdcache.v2
/.idea/.idea.LGU Gui.dir/.idea/.gitignore
/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/.vs/LGUGui/v17/.suo
/Folder.DotSettings.user
/.idea/.idea.LGU Gui.dir/.idea/indexLayout.xml
/obj/Debug/netstandard2.1/LGUGui.AssemblyInfo.cs
/obj/Debug/netstandard2.1/LGUGui.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.1/LGUGui.assets.cache
/obj/Debug/netstandard2.1/LGUGui.csproj.AssemblyReference.cache
/obj/Debug/netstandard2.1/LGUGui.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.1/LGUGui.csproj.FileListAbsolute.txt
/obj/LGUGui.csproj.nuget.dgspec.json
/obj/LGUGui.csproj.nuget.g.props
/obj/LGUGui.csproj.nuget.g.targets
/obj/Debug/netstandard2.1/LGUGui.csproj.Up2Date
/bin/Debug/netstandard2.1/LGUGui.deps.json
/bin/Debug/netstandard2.1/LGUGui.dll
/obj/Debug/netstandard2.1/LGUGui.dll
/obj/Debug/netstandard2.1/LGUGui.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netstandard2.1/LGUGui.IgnoresAccessChecksTo.cs
/bin/Debug/netstandard2.1/LGUGui.pdb
/obj/Debug/netstandard2.1/LGUGui.pdb
/bin/Debug/netstandard2.1/LGUGui_original.dll
/bin/Debug/netstandard2.1/LGUGui_original.pdb
/bin/Debug/netstandard2.1/MoreShipUpgrades.dll
/NuGet.Config
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
